Edito !
{% if edito != null %}
<h3>{{ edito.title }}</h3>

<img style="width: 500px; height: 500px;" src="{{ asset("OEF/img_admin_edito/" ~ edito.imageName) }}" alt="{{ edito.imageName }}">

<p>
    {{ edito.text }}
</p>
{% endif %}
