Faq !
<table>
    {% for faq in faqs %}
        <tr>
            <td><strong>Titre :</strong> {{ faq.title }}</td>
            <td><strong>Question :</strong> {{ faq.question }}</td>
            <td><strong>Réponse :</strong> {{ faq.answer }}</td>
        </tr>
    {% endfor %}
</table>
