{% extends 'OuiEatFrenchPublicBundle::layout.html.twig' %}
{% block title %}OuiEatFrench{% endblock %}
{% block content %}
<div id="wrapper">
    <div class="row">
        <div class="title-product-client">
            MAQUETTE PAGE PRODUCTEURS
        </div>
    </div>
	<div>
		<img src="{{ asset('ouieatfrench/maquettes/img/maquette_producteurs.png')}}" alt="maquette page producteurs">
	</div>
</div>
{% endblock %}