/.idea/
/web/bundles/
/web/OEF/img_admin_edito/
/web/OEF/user_farmer/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
