{% extends 'OuiEatFrenchPublicBundle::layout.html.twig' %}
{% block title %}OuiEatFrench{% endblock %}
{% block content %}
<div id="wrapper">
    <div class="row">
        <div class="title-product-client">
            MAQUETTE PAGE R&Eacute;CAPITULATIF
        </div>
    </div>
	<div>
		<a href="{{ path('oui_eat_french_payment_prepare_paypal', {'shipping' : shipping}) }}">
			<img src="{{ asset('ouieatfrench/maquettes/img/maquette_recapitulatif.png')}}" alt="maquette page récapitulatif">
		</a>
	</div>
</div>
{% endblock %}