{% extends "base.html.twig" %}
{% block title %}OuiEatFrench | Panier{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-10">
			<h3>{{app.user | title}}, voici votre panier :</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<table class="table">
				<thead>
					<th>Article</th>
					<th>Nom du produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</thead>
			</table>
		</div>
	</div>
{% endblock %}