.inscription
{
	background-color:#eccc15;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	height: 520px;
}

.inscription-form input[type="text"], .inscription-form input[type="password"], .inscription-form input[type="email"]
{
	border-radius: 0px !important;
	height: 24px;
	width: 270px;
	margin-left: 0px;
	box-shadow: none;
	border: 0px;
	padding-left: 20px;
}

.connexion-form input[type="text"], .connexion-form input[type="password"], .connexion-form input[type="email"]
{
	border-radius: 0px !important;
	height: 24px;
	width: 270px;
	margin-left: 0px;
	box-shadow: none;
	border: 0px;
	padding-left: 20px;
}

.title-inscription-form
{
	font-size: 18px;
	height: 75px;
	line-height:75px;
	text-align: left;
	margin-left: 35px;
	font-weight: 700;
}

.inscription-form
{
	margin-left: -35px;
}

.btn-inscription
{
	background-color: #baa111;
	border:none;
	color: #fff;
	width: 297px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	font-weight: 550;
	margin-left: 36px;
	margin-top: 10px;
}

.btn-inscription:hover
{
	background-color: #5d531a;
}

.btn-connexion
{
	background-color: #90bd2c;
	border:none;
	color: #fff;
	width: 297px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	font-weight: 550;
	margin-top: 10px;
}

.btn-connexion:hover
{
	background-color: #576f23;
}

.connexion
{
	background-color:#a3d634;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	height: 520px;
	margin-left: 0px;
}

.connexion-form
{
	margin-left: -5px;
}

.title-connexion-form
{
	font-size: 18px;
	height: 75px;
	line-height:75px;
	text-align: left;
	margin-left: 35px;
	font-weight: 700;
}

.text-connexion
{
	font-size: 18px;
	text-align: left;
	margin-left: 35px;
	line-height: 22px;
}

hr
{
	margin-left: 35px;
	width: 297px;
	opacity: 0.6;
}

.text-password a
{
	font-size: 15px;
	text-align: left;
	margin-left: -118px;
	font-style: italic;
	color: #fff;
	text-decoration:underline;
}

.text-password
{
	margin-bottom: 119px;
}

.text-password a:hover
{
	text-decoration: none;
}

.bottom-link
{
	height: 100px;
	line-height: 100px;
}

.bottom-link a
{
	color: #867359;
	margin-left: 5px;
	margin-right: 5px;
}

.bottom-link a:hover
{
	text-decoration: none;
}

.navbar-producteurs li
{
 	float:left;
 	list-style-type: none;
 	line-height: 50px;
 	color: #fff;
 	padding-left: 10px;
 	padding-right: 10px;
 	height: 50px;
}

.navbar-producteurs
{
	height: 50px;
	line-height: 50px;
	background: #a3d634 url('../img/pattern-ble-01.png') repeat-x;
}

.navbar-producteurs li a
{
	color: #fff;
}

.navbar-producteurs li a
{
	text-decoration: none;
}

.navbar-producteurs li:hover
{
	background-color: #90bd2c;
}


.text-catalogue
{
	font-size: 30px;
	color: #8c9087;
	font-weight: 300;
}

.product_description
{
	background-color: #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.product_description_left
{
	margin-left: 15px;
	margin-top: 15px;
	color: #8c9087;
	font-size: 17px;
}

.name_product, .price_product
{
	font-weight: bold;
}

.name_product
{
	font-size: 19px;
	margin-bottom: 5px;
}

.hr-produits
{
	width: 220px;
	opacity: 0.6;
	margin-left: 0px;
	margin-bottom: 10px;
}

.price_products
{
	margin-top: 20px;
}

.price_product
{
	color: #efd337;
}

.link_update_product a
{
 	color: #c2c7bd;
 	font-style: italic;
}

.link_update_product
{
	margin-bottom: 15px;
}

.link_update_product i
{
	opacity: 0.4;
	margin-top:5px;
	margin-right: 8px;
}

.link_update_product a:hover
{
	text-decoration: none;
}

.farmerproduct
{
	margin-right: 10px;
}

.product_description img
{
	height: 185px;
}

.new-product
{
	height: 384px;
	width: 250px; 
	float: left;
	margin-bottom: 20px;
	background: #fff url('../img/pattern-ble-02.png') repeat-x;
}

.button-new-product 
{
	height: 352px;
	width: 217px;
	border: 1px solid #e8eae2;
	margin:15px;
}

.button-plus
{
	background-color: #a3d634;
	border-radius: 50px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 54px;
	margin-top: 135px;
	margin-left: 85px;
}

.text-button-new-product
{
	text-align: center;
	color: #a3d634;
	font-size: 18px;
	margin-top: 10px;
}

.text-button-new-product:hover
{
	text-decoration: none !important;
}

.moins_stock, .plus_stock
{
	height: 40px;
	width: 40px;
	border-radius: 40px;
	border: 1px solid #e8eae2;
	text-align: center;
	float: left;
	text-align: center;
	line-height: 45px;
	margin-right: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	opacity: 0.5;
}

.moins_stock
{
	margin-left: 20px;
}

.unit_type
{
	margin-top: 10px;
	clear: both;
	margin-left: 50px;
}

.quantity_product_stock
{
	float: left;
	margin-right: 20px;
	line-height: 40px;
	height: 40px;
}

#farmerproducts
{
	margin-left: 9%;
}

.type-commandes
{
	background-color: #fff;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.active-commandes
{
	color:#e5ca36;
	border-bottom: 2px solid #e5ca36;
}

.active
{
	font-weight: 600;
}

.all-commandes
{
	margin-top: 75px;
}

.commandes-finies:hover, .commandes-en-cours:hover
{
	color:#e5ca36;
	border-bottom: 2px solid #e5ca36;
}

.commandes-en-cours
{
	margin-left: 500px;
}

.commandes-finies, .commandes-en-cours
{
	cursor: pointer;
}

.text-vos-commandes
{
	font-size: 30px;
	color: #8c9087;
	margin-bottom: 50px;
	text-align: center;
	font-weight: 300;
}

.commande-producteur
{
	background-color: #fff;
	margin-bottom: 30px;
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
}

.details-commande, .prix-commande
{
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

.produits-commande
{
	background-color: #f8faf2;
	margin-left: 0px;
}

.name-product
{
	height: 60px;
	text-align: center;
	margin-left: 0px;
	width: 240px;
	color: #8c9087;
	border-right: 1px dashed #d7d9d2;
	padding-top: 20px;
}

.name-product:nth-child(n+5)
{
	border-bottom: 1px dashed #d7d9d2;
}

.name-product:nth-child(-n+4)
{
	border-top: 1px dashed #d7d9d2;
	border-bottom: 1px dashed #d7d9d2;
}

.name-product:nth-child(4n)
{
	border-right: 0px;
}

.date-livraison
{
	width: 100px;
}

.date-livraison, .valider-commande
{
	color: #8c9087;
	font-weight: bold;
}

.numero-commande
{
	color:#efd337;
	font-weight: bold;
}

.nom-client, .prix-commande
{
	color: #8c9087;
}

.nom-client
{
	margin-left:0px;
}

.valider-commande i
{
	opacity: 0.5;
}

.cloturer-commande
{
	color: #8c9087;
	opacity: 0.5;
	cursor: pointer;
	width: 90px;
}

.valider-commande
{
	cursor: pointer;
	margin-left: 180px;
	text-align: center;
}

.cloturer-commande i
{
	opacity: 0.4;
}

.lightgrey {
	color:#8c9087;
  	opacity: 0.5;
}

.grey {
	color:#8c9087;
	opacity:1;
}

.green {
	color : #a3d634;
	font-weight:bold;
	opacity:1;
}

.bold
{
	font-weight: bold;
}

body
{
	font-family: 'Open Sans';
}

.why-work-whith-us, .temoignage
{
	background-color: #fff;
	height: 160px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.img-work, .img-temoignage
{
	height: 110px;
	cursor: pointer;
	position:relative;
}

.img-work:after, .img-temoignage:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.5);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.img-work:hover:after, .img-temoignage:hover:after {
    opacity:1;
}

.temoignage
{
	margin-left: 0px;
}

.text-work
{
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: 10px 0;
	border-right: 1px solid #a09482;
}

.text-temoignage
{
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.login-background
{
	background-image: url('../img/login-background.jpg');
}

.logo-oef
{
	margin-top: 100px;
}

.inscription-form form div
{
	position: relative;
	left: 17px;
}

.body-container
{
	background-color: #f5f7f0;
	padding-bottom: 60px;
	min-height: 650px;
}

.prix-total
{
	width: 100px;
	margin-left: 868px;
}

.bottom-img
{
	margin-bottom: 50px;
}

.italic
{
	font-style: italic;
	color: #d7ddd1;
}

.link_add_recette a
{
 	color: #a3d634;
 	font-style: italic;
}

.link_add_recette a:hover
{
 	text-decoration: none;
}

.link_add_recette
{
	margin-bottom: 3px;
}

.link_add_recette img
{
	height: 13px;
	width: 12px;
	margin-right: 8px;
}

.titre-disponibilites, .titre-index, .titre-profil
{
	font-size: 30px;
	font-weight: 300;
	color:#8c9087;
}

.description-disponibilites
{
	font-size: 16px;
	color: #8c9087;
}

#button-change-disponibilites
{
	border:3px solid #a3d634;
	background-color: #f5f7f0;
	width: 250px;
	height: 35px;
}

#button-change-disponibilites:hover
{
	background-color: #a3d634;
	color:#fff;
}

#button-change-disponibilites a
{
	color: #a3d634;
	font-weight: 500;
	font-size: 17px;
}

#button-change-disponibilites a:hover
{
	text-decoration: none;
}

#button-change-disponibilites
{
	color: #a3d634;
	font-weight: 500;
	font-size: 17px;
}

#button-change-disponibilites:hover
{
	text-decoration: none;
}


#table-disponibilites
{
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
}

#table-disponibilites td
{
	height: 50px;
	line-height: 50px;
	border-right: 1px solid #ddd;
	text-align: center;
	font-size: 18px;
	color: #8c9087;
	font-weight: 600;
}

#table-disponibilites thead
{
	background-color: #8c9087;
	color: #fff;
	height: 20px;
	font-size: 18px;
}

.disponible
{
	color: #a3d634;
	font-weight: bold;
	font-size: 16px;
}

.commerce-chiffres, .title-best-selling
{
	background-color: #fff;
	height: 50px;
	line-height: 50px;
	color:#8c9087;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

.chiffres-commandes
{
	background-color:#f8faf2;
	color: #8c9087;
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
}

.chiffres-data
{
	height: 70px;
	line-height: 30px;
	border-right:1px dashed #fff;
	width: 190px;
}


.product-best-selling
{
	background-color: #fff;
	height: 220px;
}

.product-best-selling .span2
{
	margin-left: 0px;
	margin-right: 10px;
	width: 217px;
	color:#8c9087;
	text-align: center;
}

.product-best-selling .span2:last-child
{
	margin-left: 0px;
	margin-right: 0px;
	width: 219px;
}

.no-image-best-selling
{
	background-color: #f8faf2;
	height: 180px;
	line-height: 180px;
}

.name-product-best
{
	height: 40px;
	line-height: 40px;
}

.product-best-selling .yes-image img
{
	height: 180px;
}

.product-best-selling
{
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
}

.div-description-profil
{
	margin-top: 20px;
	margin-bottom:20px;
	background-color: #fff;
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
	border-left: 4px solid #cccccc;
	width: 466px;
	color: #666666;
	line-height: 10px;
}

.description-profil div
{
	margin-top: 8px;
	margin-bottom: 6px;
	margin-left: 20px;
}

.contacts-personnels, .contacts-professionnels, .biographie
{
	width: 466px;
	background-color: #fff;
	border-left: 4px solid #99cc33;
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
	margin-bottom: 20px;
}

.contacts-personnels
{
	color: #666666;
	line-height: 10px;
	height: 100px;
}

.contacts-personnels div, .biographie div
{
	margin-top: 12px;
	margin-left: 20px;
}

.contacts-professionnels div
{
	margin-top: 8px;
	margin-left: 20px;
}

.contacts-professionnels
{
	line-height: 10px;
	height: 115px;
	color: #666666;	
}


.biographie
{
	line-height: 15px;
	color: #666666;	
}

.absence-profil
{
	width: 466px;
	background-color: #fff;
	height: 125px;
	border-left: 4px solid #a3d634;
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
	margin-bottom: 20px;
}

.bouton-rendu
{
	background-color: #fff;
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
	text-align: center;
	height: 50px;
	line-height: 50px;
	margin-bottom: 30px;
}

.bouton-rendu a
{
	color: #99cc33;
	font-weight: 700;
	text-decoration: none;
}

.bouton-rendu a:hover
{
	text-decoration: none;
}

.link-profil
{
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 17px;
}

.description-absence
{
	width: 300px;
  	display: block;
  	float: left;
  	height: 110px;
  	padding-top: 15px;
  	border-right: 1px solid #f5f7f0;
  	width: 340px;
  	margin-left: 10px;
}

.link-modifier-profil
{
 	margin-right: 50px;
}

.link-modifier-profil a
{
 	color: #666666;
 	font-weight: 500;
 	text-decoration: underline;
}

.link-modifier-profil a:hover
{
 	color: #666666;
 	font-weight: 500;
}

.link-deconnexion-profil a
{
 	color: #ff3366;
 	font-weight: 500;
 	text-decoration: underline;
}

.link-deconnexion-profil a:hover
{
 	color: #666666;
 	font-weight: 500;
}

.checkbox-absence
{
	width: 50px;
	margin-top: 40px;
	margin-left: 13px;
}

.checkbox-absence input
{
	margin-top: 50px;
}

/*input[type='checkbox'] {
    width:20px;
    height:20px;
    background:white;
    border-radius:0px;
    border:1px solid #555;
}
*/


#form-inscription label
{
	display: block;
	margin-bottom: 0px;
	text-align: left;
	width: 200px;
	margin-left: 56px;
}

#form-connexion label
{
	display: block;
	margin-bottom: 0px;
	text-align: left;
	width: 200px;
	margin-left: 40px;
}

.center
{
	text-align: center;
}

#fiche-produit, #quantite
{
	background-color: #fff;
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
	margin-bottom: 20px;
}

.titre-fiche-produit
{
	height: 50px;
	background-color: #eccc15;
	color: #fff;
	line-height: 50px;
	font-size: 18px;
	font-weight: 600;
}

.champ-fiche-produit, .champ-fiche-sous-categorie
{
	height: 85px;
	border-bottom: 1px solid #ddd;
	line-height: 85px;
}

.label-fiche-produit label
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin-left: 233px;
	margin-right: 10px;
	color: #8c9087;
}

.champ-fiche-produit select, .champ-fiche-sous-categorie select 
{
	height: 40px;
	border-radius: 0px;
	width: 245px;
}

.plantation-form select, .recolte-form select
{
	width: 75px;
	margin-right: 10px;
}

.label-fiche-produit-plantation label
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin-left: 143px;
	margin-right: 10px;
	color: #8c9087;
}

.plantation-form div, .recolte-form div
{
	display:inline-block;
}

.label-fiche-produit-recolte label
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin-left: 162px;
	margin-right: 10px;
	color: #8c9087;
}

.label-fiche-produit-minimum-unite label
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin-left: 81px;
	margin-right: 10px;
	color: #8c9087;
}

.minimum-unite-form input
{
	border-radius: 0px;
	height: 30px;
	width: 232px;
	box-shadow: none;
}

.label-fiche-produit-agriculture label
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin-left: 166px;
	margin-right: 10px;
	color: #8c9087;
}

.label-fiche-produit-conservation label
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin-left: 197px;
	margin-right: 10px;
	color: #8c9087;
}

.conservation-form textarea
{
	width: 231px;
	border-radius: 0px;
	box-shadow: none;
	height: 65px;
	margin-top: 20px;
}

.label-fiche-produit-type-unite label
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin-left: 197px;
	margin-right: 10px;
	color: #8c9087;
}

.label-fiche-produit-unitPrice label
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin-left: 196px;
	margin-right: 10px;
	color: #8c9087;
}

.unitPrice-form input
{
	border-radius: 0px;
	height: 30px;
	width: 150px;
	box-shadow: none;
}

.label-fiche-produit-unitQuantity label
{
	display: inline-block;
	height: 75px;
	line-height: 75px;
	margin-left: 168px;
	margin-right: 10px;
	color: #8c9087;
}

.unitQuantity-form input
{
	border-radius: 0px;
	height: 30px;
	width: 232px;
	box-shadow: none;
}

.btn-validate-add-product
{
	border:3px solid #a3d634;
	background-color: #f5f7f0;
	width: 140px;
	height: 35px;
	color: #a3d634;
	font-weight: 500;
}

.btn-validate-add-product:hover
{
	color: #fff;
	background-color: #a3d634;
}

.img-profil 
{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

#separateur-dispo
{
	border-top: 1px solid #cccccc;
	margin-top: 50px;
}

#checkbox-vacances
{
	background-color: #fff;
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
	height: 75px;
	line-height: 75px;
	margin-bottom: 20px;
}

#programmation-vacances
{
	background-color: #fff;
	-moz-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-webkit-box-shadow: 2px 2px 5px 0px #e6e9e3;
	-o-box-shadow: 2px 2px 5px 0px #e6e9e3;
	box-shadow: 2px 2px 5px 0px #e6e9e3;
	margin-bottom: 20px;
}

#input-vacances
{
	height: 75px;
	line-height: 75px;
	color: #999999;
}

#input-vacances input
{
	width: 132px;
	color: #999999;
	font-style: italic;
	border-radius: 0px;
	box-shadow: none;
	border: 2px solid #cccccc;
}

.btn-validate-vacances
{
	background-color: #a3d634;
	color: #fff;
	border: 0px;
	height: 32px;
	width: 100px;
	font-size: 16px;
	position: relative;
	bottom: 5px;
}

.separateur-vacances
{
	border-top: 1px solid #cccccc;
	width: 800px;
	margin-left: 20px;
}

.vacances
{
	margin-left: 20px;
	color:#999999;
	margin-top: 20px;
	margin-bottom: 20px;
}

.supprimer-vacances
{
	color: #a3d634;
	text-decoration: underline;
	margin-left: 10px;
	cursor: pointer;
}

.td-white td
{
	background-color: #fff !important;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #f5f7f0;
	position: relative;
	bottom: 5px;
	left: 2px;
}

.no-disponible
{
	text-decoration: underline;
	display: inline-block;
	width: 177px;
	font-weight: 300;
	cursor: pointer;
}

.disponible-no
{
	background-color: #eccc15;
	height: 70px;
	display: inline-block;
	line-height: 70px;
	width: 182px;
	color: #fff;
}

.disponible-modif
{
	background-color: #a3d634;
	height: 70px;
	display: inline-block;
	line-height: 70px;
	width: 182px;
	color: #fff;
}

.new-product a:hover
{
	text-decoration: none;
}


.navbar-commerce li
{
 	float:left;
 	list-style-type: none;
 	line-height: 70px;
 	color: #fff;
 	padding-left: 30px;
 	padding-right: 30px;
 	height: 70px;
 	font-family: "Roboto";
 	font-size: 18px;
}


.navbar-commerce
{
	height: 70px;
	line-height: 70px;
	background: #f9ac48;
}

.navbar-commerce li img
{
	position: relative;
	bottom: 5px;
}

.navbar-commerce li a
{
	color: #fff;
}


.navbar-commerce li a
{
	text-decoration: none;
}


.navbar-commerce li a:hover
{
	color: #333333;
}

.active-client
{
	font-weight: 600;
}

.body-container-client
{
	background: #fff url('../img/pattern-ble-02.png') repeat;
	padding-bottom: 60px;
	min-height: 620px;
}

#wrapper
{
	width: 1160px;
	margin-left: auto;
	margin-right: auto
}

.title-product-client
{
	font-size: 40px;
	text-align: center;
	color: #333333;
	margin-top: 100px;
	margin-bottom: 60px;
}

.filter-product
{
	border:2px solid #a3d634;
	background-color: #fff;
}

#title-filter-product
{
	margin-left: 0px;
	text-align: center;
	color: #a3d634;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom:20px;
}

#filter-type, #filter-saison
{
	margin-left: 0px;
	text-align: center;
	margin-bottom: 30px;
}

#filter-type label, #filter-saison label
{
	display:inline-block;
	width:100px;
	text-align: left;
	position: relative;
	top: 3px;
	left: 15px;
	color: #333333;
	font-weight: 600;
}

#title-filter-aliments, #title-filter-saison, #title-filter-calories
{
	margin-left: 0px;
	text-align: center;
	margin-bottom: 20px;
	color: #a3d634;
	font-weight: 600;
}

#filter-aliments
{
	margin-left: 0px;
	text-align: center;
	margin-bottom: 30px;
}

#filter-aliments select
{
	border-radius: 0px;
	box-shadow: none;
	height: 35px;
	width: 150px;
}

#filter-calories
{
	margin-left: 0px;
	margin-bottom: 20px;
	text-align: center;
}

#slider-range-min
{
	width: 150px;
	margin:auto;
	width: 130px;
	margin-bottom: 10px;
}

#button-validate-form
{
	margin-left: 0px;
	text-align: center;
	margin-bottom: 20px;
}

#validate-filter
{
	box-shadow: none;
	border-radius: 0px;
	color: #fff;
	background-color: #a3d634;
	border:0px;
	width: 75px;
	height: 40px;
}

.product-client
{
	margin-bottom: 10px;
	background-color: red;
}

.bottom-name-product
{
	background-color: rgba(255,255,255, 0.7);
	height: 40px;
	line-height: 40px;
	margin-top: 160px;
	color: #333333;
	font-size: 15px;
	font-weight: 600;
}

.bottom-name-product-cart
{
	background-color: rgba(255,255,255, 0.7);
	height: 40px;
	line-height: 40px;
	margin-top: 135px;
	color: #333333;
	font-size: 15px;
	font-weight: 600;
}

#pagination-product
{
	font-size: 17px;
	margin-top: 40px;
}

#pagination-product a
{
	color:#979797;
}

#pagination-product a:hover
{
	color:#f9ac48;
	text-decoration: none;
}

.arrow-left-pagination {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid #f9ac48; 
	display: inline-block;
	position: relative;
	top: 2px;
}

.arrow-right-pagination {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-left:10px solid #f9ac48; 
	display: inline-block;
	position: relative;
	top: 2px;
}

.arrow-up-client
{
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: relative;
	bottom: 5px;
	left: 2px;
}

#content-cart-client
{
	border: 2px solid #f9ac48;
	background-color: #fff;
	width: 815px;
}

#title-product-cart
{
	font-size: 40px;
	text-align: center;
	color: #333333;
	margin-top: 100px;
	margin-bottom: 60px;
}

#title-category-cart
{
	text-align: center;
	color: #f9ac48;
	height: 50px;
	line-height: 50px;
}

.input-quantity-cart
{
	width: 50px;
	height: 10px !important;
	text-align: right;
	border-radius: 0px !important;
	box-shadow: none !important;
	border:1px solid #ff3366 !important;
}

.value-category-cart
{
	text-align: center;
	height: 100px;
	line-height: 60px;
	font-family: "Open Sans";

}

.underline
{
	text-decoration: underline;
}

.product-image-cart-client
{
	display:inline-block;
	width:60px;
	height:60px !important;
	height:200px;
	margin-left: 30px;
}

#total-price-cart-client
{
	height: 200px;
	border-top: 0px;
}

#bon-reduction-cart
{
	background-color: #f9f5f0;
	padding: 15px;
	margin-top: 50px;
	margin-left: 0px;
}

#bon-reduction-cart input
{
	border-radius: 0px;
	box-shadow: none;
	border:2px solid #f9ac48;
	width: 200px;
	margin-top: 10px;
}

#value-total-price
{
	border-left: 2px solid #f9ac48;
	border-bottom: 2px solid #f9ac48;
	border-right: 2px solid #f9ac48;
	height: 200px;
	margin-left: 0px;
	width: 113px;
	position: relative;
	left: 4px;
	text-align: center;
	line-height: 30px;
	font-weight: 600;
	background-color: #f5f7f0;
}

#value-total-price .span2
{
	width: 113px;
}

#title-category-total-price
{
	height: 200px;
	margin-left: 28px;
	color: #f9ac48;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
}

.last-column
{
	border-left: 2px solid #f9ac48;
	width:113px;
	font-weight: 600;
	background-color: #f9f8f7;
}

.little-text
{
	color:#000;
	font-size: 10px;
}

#modifier-cart-client
{
	background-color: #fff;
	color: #ff3366;
	border:2px solid #ff3366;
	font-weight: 600;
	height: 30px;
	line-height: 20px;
	width: 117px;
}

#modifier-cart-client:hover
{
	background-color: #ff3366;
	color: #fff;
}


#valider-cart-client
{
	background-color: #99cc33;
	color: #fff;
	border:2px solid #99cc33;
	font-weight: 600;
	height: 30px;
	line-height: 20px;
	width: 117px;
}

#valider-cart-client:hover
{
	background-color: #95c430;
}

#ne-pas-rater
{
	height: 50px; 
	margin-left: 150px;
}

#title-ne-pas-rater
{
	margin-left: 0px;
	font-size: 17px;
}

#logo-oef-pro
{
	color:#fff;
	margin-left: 500px;
}

#title-cart-empty
{
	text-align: center;
	font-size: 40px;
	margin-top: 300px;
}