.inscription
{
	background-color:#eccc15;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	height: 520px;
}

input[type="text"], input[type="password"], input[type="email"]
{
	border-radius: 0px !important;
	height: 40px;
	width: 270px;
	margin-left: 0px;
	box-shadow: none;
	border: 0px;
	padding-left: 20px;
}

.title-inscription-form
{
	font-size: 18px;
	height: 75px;
	line-height:75px;
	text-align: left;
	margin-left: 35px;
	font-weight: 700;
}

.inscription-form
{
	margin-left: -35px;
}

.btn-inscription
{
	background-color: #baa111;
	border:none;
	color: #fff;
	width: 297px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	font-weight: 550;
	margin-left: 36px;
	margin-top: 10px;
}

.btn-connexion
{
	background-color: #90bd2c;
	border:none;
	color: #fff;
	width: 297px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	font-weight: 550;
	margin-top: 10px;
}

.connexion
{
	background-color:#a3d634;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	height: 520px;
	margin-left: 0px;
}

.connexion-form
{
	margin-left: -5px;
}

.title-connexion-form
{
	font-size: 18px;
	height: 75px;
	line-height:75px;
	text-align: left;
	margin-left: 35px;
	font-weight: 700;
}

.text-connexion
{
	font-size: 18px;
	text-align: left;
	margin-left: 35px;
	line-height: 22px;
}

hr
{
	margin-left: 35px;
	width: 297px;
	opacity: 0.6;
}

.text-password a
{
	font-size: 15px;
	text-align: left;
	margin-left: -118px;
	font-style: italic;
	color: #fff;
}

.text-password
{
	margin-bottom: 103px;
}

.text-password a:hover
{
	text-decoration: none;
}

.bottom-link
{
	height: 100px;
	line-height: 100px;
}

.bottom-link a
{
	color: #867359;
	margin-left: 5px;
	margin-right: 5px;
}

.bottom-link a:hover
{
	text-decoration: none;
}

.navbar-producteurs li
{
	margin-left:2px;
 	float:left;
 	list-style-type: none;
 	line-height: 50px;
 	color: #fff;
 	padding-left: 10px;
 	padding-right: 10px;
}

.navbar-producteurs
{
	height: 50px;
	line-height: 50px;
	background: #a3d634 url('../img/pattern-ble-01.png') repeat-x;
}

.navbar-producteurs li a
{
	color: #fff;
}

.navbar-producteurs li a
{
	text-decoration: none;
}

.navbar-producteurs li:hover
{
	background-color: #90bd2c;
}

.text-catalogue
{
	font-size: 30px;
	color: #8c9087;
}

.product_description
{
	background-color: #fff;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.product_description_left
{
	margin-left: 50px;
	margin-top: 20px;
	color: #8c9087;
	font-size: 17px;
}

.name_product, .quantity_product, .price_products
{
	font-weight: bold;
}

.hr-produits
{
	width: 185px;
	opacity: 0.6;
	margin-left: 0px;
	margin-bottom: 10px;
}

.price_products
{
	margin-top: 20px;
}

.price_product
{
	color: #efd337;
}

.link_update_product a
{
 	color: #c2c7bd;
 	font-style: italic;
}

.link_update_product i
{
	opacity: 0.4;
	margin-top:5px;
}

.link_update_product a:hover
{
	text-decoration: none;
}

.farmerproduct
{
	margin-right: 10px;
}

.product_description img
{
	height: 185px;
}

.new-product
{
	height: 347px;
	background-color: #fff;
	width: 250px; 
	float: left;
	margin-bottom: 20px;
}

.button-new-product 
{
	height: 315px;
	width: 217px;
	border: 1px solid #e8eae2;
	margin:15px;
}

.button-plus
{
	background-color: #a3d634;
	border-radius: 50px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	margin-top: 100px;
	margin-left: 85px;
}

.text-button-new-product
{
	text-align: center;
	color: #a3d634;
	font-size: 18px;
	margin-top: 10px;
}

.text-button-new-product:hover
{
	text-decoration: none !important;
}

.moin_stock, .plus_stock
{
	height: 40px;
	width: 40px;
	border-radius: 40px;
	border: 1px solid #e8eae2;
	text-align: center;
	float: left;
	text-align: center;
	line-height: 45px;
	margin-right: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	opacity: 0.5;
}

.moin_stock
{
	margin-left: 20px;
}

.unit_type
{
	margin-top: 10px;
	clear: both;
	margin-left: 50px;
}

.quantity_product_stock
{
	float: left;
	margin-right: 20px;
	line-height: 40px;
	height: 40px;
}

#farmerproducts
{
	margin-left: 6%;
}

.type-commandes
{
	background-color: #fff;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.active-commandes
{
	color:#e5ca36;
	border-bottom: 2px solid #e5ca36;
}

.all-commandes
{
	margin-top: 100px;
}

.commandes-finies:hover, .commandes-en-cours:hover
{
	color:#e5ca36;
	border-bottom: 2px solid #e5ca36;
}

.commandes-finies, .commandes-en-cours
{
	cursor: pointer;
}

.text-vos-commandes
{
	font-size: 30px;
	color: #8c9087;
	margin-bottom: 50px;
	text-align: center;
}

.commande-producteur
{
	background-color: #fff;
	margin-bottom: 30px;
	-webkit-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.2);
}

.details-commande, .prix-commande
{
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

.produits-commande
{
	background-color: #f8faf2;
	margin-left: 0px;
}

.name-product
{
	height: 60px;
	text-align: center;
	margin-top: 20px;
	margin-left: 0px;
	width: 240px;
	color: #8c9087;
}

.date-livraison, .valider-commande
{
	color: #8c9087;
	font-weight: bold;
}

.numero-commande
{
	color:#efd337;
	font-weight: bold;
}

.nom-client, .prix-commande
{
	color: #8c9087;
}

.valider-commande i
{
	opacity: 0.5;
}

.cloturer-commande
{
	color: #8c9087;
	opacity: 0.5;
	cursor: pointer;
	width: 100px;
}

.valider-commande
{
	cursor: pointer;
}

.cloturer-commande i
{
	opacity: 0.4;
}

.bold
{
	font-weight: bold;
}

body
{
	font-family: 'Open Sans';
}

.why-work-whith-us, .temoignage
{
	background-color: #fff;
	height: 160px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.img-work, .img-temoignage
{
	height: 110px;
	background-color: red;
}

.temoignage
{
	margin-left: 0px;
}

.text-work
{
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: 10px 0;
	border-right: 1px solid #a09482;
}

.text-temoignage
{
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.login-background
{
	background-image: url('../img/login-background.jpg');
}

.logo-oef
{
	margin-top: 100px;
	margin-left: 902px;
}

.inscription-form form div
{
	position: relative;
	left: 17px;
}