{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
<div>Ceci est un layout</div>
	{% block content %}

	{% endblock %}
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}