{% extends 'OuiEatFrenchAdminBundle::layout.html.twig' %}

{% block page_title %}
<h3>Edition des filtres</h3>
{% endblock %}
{% block content %}
<form action="{{ path(route, {'id' : id}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {% for child in form.children %}
        {{ form_row(child) }}
    {% endfor %}
    <br>
    <input class="btn btn-success" type="submit" value="Envoyer"/>
</form>
{% endblock %}