Creation des faq
<form action="{{ path(route) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {% for child in form.children %}
        {{ form_row(child) }}
    {% endfor %}
    <br>
    <input class="btn btn-success" type="submit" value="submit"/>
</form>
