{% extends 'base.html.twig' %}
{% block title %}admin OEF{% endblock %}
{% block body %}
    <h3>Connexion Administrateur</h3>
    <form action="{{ path('oui_eat_french_admin_user_login') }}" method="post" novalidate="novalidate">
        <label for="email" >Email :</label><input id="email" type="text" name="email">
        <label for="password" >Mot de passe : </label><input id="password" type="password" name="password"><br>
        <input class="btn btn-success" type="submit" value="submit"/>
    </form>
    {% if error is defined and error is not null %}
       {{ error }}
    {% endif %}
{% endblock %}
