{% extends 'OuiEatFrenchAdminBundle::layout.html.twig' %}
{% block title %}admin OEF{% endblock %}
{% block content %}
    <h3>Connexion Administrateur</h3>
    <form action="{{ path('oui_eat_french_admin_user_login_check') }}" method="post" novalidate="novalidate">
        <input type="text" placeholder="Nom d'utilisateur" id="username" name="_username" value="{% if last_username is defined %}{{ last_username }}{% endif %}" />
        <input type="password" id="password" name="_password" placeholder="Mot de passe" />
        <input class="btn btn-success" type="submit" value="submit"/>
    </form>
    {% if error is defined and error is not null %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}
{% endblock %}
