body
{
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
}

.navbar-oef
{
	margin-top: 50px;
}

.navbar-oef a
{
	color: #fff;
	font-size: 22px;
	font-weight: 500;
}

.navbar-margin
{
	margin-top: 40px;
}

.navbar-abonne
{
	border: 3px solid #a4d335;
	padding: 2px;
	text-align: center;
	margin-top: 34px;
}

.navbar-abonne a
{
	color:#a4d335;
}

.row
{
	margin-right: 0px !important;
}

.slogan
{
	font-size: 55px;
	color: #fff;
	margin-top: 120px;
	margin-left: 30%;
}

.slogan-word
{
	font-style: italic;
}

.presentation
{
	background-color: #fff;
	border-top:4px solid #a3a69a;
	height: 600px;
	margin-top: 250px;
}

.img-pc
{
	position: relative;
	bottom: 117px;
}

.title-text
{
	color: #7296bd; 
	font-size: 25px;
	font-weight: 500;
}

.text-oef
{
	font-size: 20px;
	font-weight: 500;
}

.text-presentation
{
	margin-top: -75px;
	margin-left: 4%;
	width: 28%
}

.presentation-oef
{
	font-size: 30px;
	font-weight: 500;
}

.video-oef
{
	border: 2px solid #e7e7e7;
	height: 175px;
	margin-top: 20px;
	width: 52%;
	margin-left:29%;
	margin-bottom: 100px;
	padding: 10px;
}

.bandeau-img
{
	background-image: url("../img/background_testimony.png");
	width: 100%;
	height: 471px;
}

.black_opacity
{
	background-color: rgba(0,0,0,0.3) ;
	height: 471px;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 20px;
	padding-top: 28px;
}

.guillemets
{
	position: relative;
	right: 707px;
}

.pattern
{
	background-image: url("../img/pattern_formulaire.png");
	height: 800px;
}

.producteurs
{
	font-size: 40px;
	font-weight: 500;
	margin-top: 150px;
}

.producteurs-text
{
	font-size: 20px;
	font-weight: 400;
	margin-top: 50px;
	margin-bottom: 50px;
}

.producteurs-form input
{
	height: 50px;
	width: 300px;
	font-size: 20px;
	font-style: italic;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.img-plateforme
{
	position: relative;
	bottom: 130px;
}

.btn-inscription
{
	background-color: #a4d335;
	height: 50px;
	text-align: center;
	font-weight: 500;
	padding-top: 12px;
	font-size: 20px;
	width: 12%;
	position: relative;
	bottom: 185px;
	left: 17px;
}

.btn-inscription a
{
	color:#fff;
}

.who
{
	height: 900px;
	background-color: #f5f0eb;
}

.font150
{
	font-size: 120px;
}

.font120
{
	font-size: 60px;
}

.text-who
{
	font-size: 40px;
	font-weight: 500;
	margin-top: 50px;
}

.vignette
{
	background-color: #fff;
	height: 240px;
	margin-top: 50px;
	width: 200px;
	margin-left: 50px;
}

.vignette-first
{
	background-color: #fff;
	height: 240px;
	margin-top: 50px;
	width: 200px;
}

.job
{
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin-left: 27%
}

.job-other
{
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.footer
{
	height: 100px;
}

.text-footer
{
	font-weight: 400;
	font-size: 20px;
	margin-top: 35px;
}

.img-vignette
{
	background-image: url("../img/wendy.jpg");
}