/* ! Bootstrap styles ! */
.col-lg-6{
	margin-top: 40px;
	margin-bottom: 40px;
}

/* Links */
a{
    color: #333333;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Header styles */
#headerwrap{
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	background-color: #a4d335;
}

#slider
{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
}

#headerwrap h1{
	font-size: 80px;
	margin-top: 0px !important;
	margin-bottom: 30px;
}
#oef_logo{
	max-width: 250px;
}

/* Navbar styles */

.navbar-default{
	background-color: #ffffff;
	border-color: transparent;
}
.navbar-default .navbar-nav > li > a{
	color: #333333;
	line-height: 60px;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #a4d335;
}

.link-home
{
	color:#a4d335 !important;
}

/* Paragraph & texts */
h1{
	text-align: left;
	font-weight: 400;
}
#headerwrap .white-title, #headerwrap .white-text{
	text-shadow: 0px 0px 5px white;
}
.white-title, .white-text{
	color: #ffffff;
	margin-bottom: 25px;
}
#productors .col-lg-9 p{
	text-align: left;
}
#productors h2{
	color: #ffffff;
}
p{
    line-height: 32px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 22px;
    color: #000000;
}
.title_section{
	margin-top: 70px;
	margin-bottom: 60px;
}
.last_section{
	margin-top: -30px;
}
#special-title{
	margin-bottom: 70px;
}
ul>li>a{
	font-size: 20px;
	font-weight: 400;
}

/* Boutons */
.btn-warning, .btn-success{
	background-color: #ffc624;
	border: none;
	width: 50%;
	margin-top: 10px;
	margin-right: 15px;
}
.btn-success:hover{
	background-color: #ed9c28;
}
.btn-lg{
	font-size: 25px;
}
div#howit .btn-warning, div#productors .btn-warning{
	margin-bottom: 60px !important;
	margin-top: 60px !important;
}

/* Form homepage */
h2#form-title{
	font-weight: 400 !important;
	margin: 0 0 30px 0;
	font-size: 40px;
}
.col-lg-6 .form-inline{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 35px;
}
.form-control{
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 20px;
}
	::-webkit-input-placeholder {
   		color: #c2c2c2 !important;
	}
	:-moz-placeholder { /* Firefox 18- */
   		color: #c2c2c2 !important;  
	}
	::-moz-placeholder {  /* Firefox 19+ */
   		color: #c2c2c2 !important;  
	}
	:-ms-input-placeholder {  
   		color: #c2c2c2 !important;  
	}
	#exampleInputPostcode{
		width: 45%;
		float: right;
	}
	#exampleInputSelect{
		width: 45%;
		float: left;
		margin-right: 10%;
	}
	.form-inline .btn-warning{
		background-color: #ffc624;
		border: none;
		width: 100%;
		margin-top: 10px;
	}
	.form-inline .btn-warning:hover{
		background-color: #ed9c28;
		border-color: #eea236;
	}
.form-group2{
	width: 80%;
	margin: 0 auto;
	height: 50px;
}
#giveMail{
	width: 45%;
	float: left;
	height: 50px;
}
#btn-giveMail{
	width: 45%;
	float: right;
	height: 50px;
	margin-top: 0;
}

/* Howit */
#howit{
	background-color: #f8f8f8;
}

/* Productors */
#productors{
	background-color: #a4d335;
}
.steps{
	margin-top: 20px;
}
div#productors .btn-success{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

/* Footer */
#footer{
	background-color: #f8f8f8;
	height: 50px;
	font-size: 14px;
	margin: 0;
}
#footer.container{
	height: 50px;
}
#footer p{
	font-size: 16px !important;
	margin: 25px 0;
}

@media screen and (max-width: 768px) {
  .form-group2{height: 130px;}
  #giveMail, #btn-giveMail{width: 100%;}
  .btn-lg{font-size: 20px;}
  .white-title{padding-left: 15px;}
  #headerwrap .white-title{padding:0;}
}

@-moz-document url-prefix()
{
	@media screen and (max-width: 1200px) {
	    #exampleInputPostcode{
			width: 45%;
			float: none;
		}
	}
}